/* Header ================================================================================================ */

.header-container{
    display: flex;
    justify-content: space-between;
    background: #054f77;
    padding: 8px;
    }

.header-container img{
    width: 50px;
    margin-top: 10px;
}

.header-container .header_text{
    color: whitesmoke;
    margin-right: 910px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin-top: 10px;
}

.header-container .header_botton__button{
    background-color: #ff9933;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    text-transform: uppercase;
    font-size: 8px;
    padding: 7px;
    width: 130px;
    margin-right: 30px;
    cursor: pointer;
}

/* Body Banner =================================================================================================== */
.body-container{
    background-image: url(../assets/img/img2.webp);
    background-size: cover;
    background-position: center;
    height: 400px;
}

.body{
    width: 470px;
    padding-top: 70px;
    padding-left: 300px;
    font-family: Arial, Helvetica, sans-serif;
}

.body-container .title{
    font-size: 30px;
    font-weight: bold;
    color: #054f77;
}

.subtitle{
    padding: 20px 0 0 0;
    width: 430px;
    color: #327f99;
    opacity: 0.8;
}

.subtitle-text{
    line-height: 20px;
}

.subtitle-text2{
    padding: 20px 0 20px 0;
    font-size: 12px;
}

.subtitle-text3{
    font-size: 12px;
    font-style: italic;
}

.text_bold{
    font-weight: bold;
}

.body .image img{
    height: 390px;
    position: relative;
    left: 450px;
    bottom: 284px;

}

/* body-range-button ==================================*/

.body-range-container{
    background-color: #0044d0;
    height: 180px;
}

.range-container{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    text-align: center;
    padding: 50px;
}

.range-container .range-tex1{
    font-size: 20px;
    text-transform: uppercase;
}

.range-container .range-button{
    padding: 15px 0 5px 0;
}

.range-container .range-button .but{
    background-color: whitesmoke;
    border: none;
    padding: 13px;
    color: #0044d0;
    text-transform: uppercase;
    cursor: pointer;
}

.range-container .range-tex2{
    font-size: 10px;
}

/* body-range-category ================================*/
.body-range-categoty{
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    height: 400px;
    text-align: center;
}

.brc-title{
    font-size: 20px;
    font-weight: bold;
    color: #054f77;
}

.brc-subtitle{
    font-size: 15px;
    color: #327f99;
    padding-top: 20px;
}

.brc-text{
    padding: 50px 0 20px 0;
}

.brc-buttons{
    width: 700px;
    margin: auto;
    display: flex;
    flex-wrap:wrap;
}

.brc-b{
    background-color: whitesmoke;
    color:#054f77;
    border: 1px solid #054f77;
    width: 130px;
    cursor: pointer;
    /* display: inline-block; */
    margin: 2px;
    /* text-align: center; */
    padding: 10px;
    min-height: 70px;
    text-transform: uppercase;
}


<<<<<<< HEAD


=======
fim...
>>>>>>> 729c41d85dc876646100922e9a0608bb46eb9f04
