/* Header */

.header-container{
    display: flex;
    justify-content: space-between;
    background: #054f77;
    padding: 5px;
    }

.header-container img{
    width: 50px;
    margin-top: 8px;
}

.header-container .header_text{
    color: whitesmoke;
    margin-right: 870px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    margin-top: 8px;
}

.header-container .header_botton{
    margin-right: 12px;
    margin-bottom: 3px;
}

.header-container .header_botton__button{
    background-color: #ff9933;
    color: whitesmoke;
    border: 1px solid whitesmoke;
    text-transform: uppercase;
    font-size: 7px;
    width: 130px;
    cursor: pointer;
    
}